{
  "database": {
    "host": "localhost",
    "database": "mcs"
  },
  "wi_port": 8080,
  "https": {
    "enabled": false,
    "spdy": false
  },
  "cloudsystem_port": 1337,
  "listenip": "0.0.0.0",
  "debug": false
}