<div [hidden]="!_userService.loggedIn">
    <div class="ctrl-header">
        <div class="title">
            {{'daemons' | translate}}
        </div>
        <div class="description">
            {{'daemons_description' | translate}}
        </div>
    </div>
    <a href="/add" class="button">{{'daemon_create' | translate}}</a>
    <br/>
    <div class="daemon_list">
        <table width="100%">
            <thead>
            <tr style="text-align: left;">
                <th>{{'name' | translate}}</th>
                <th>{{'actions' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let daemon of daemons | orderBy: '-_id'">
                <td>
                    <i class="fa fa-circle" style="color: #039000;" [hidden]="!daemon.online"></i>
                    <i class="fa fa-circle-o" style="color: #D40000;" [hidden]="daemon.online"></i>
                    &nbsp; <a href="/daemons/{{ daemon._id }}/information">{{daemon.daemonname}}</a>
                </td>
                <td>
                    <a href="/daemons/{{ daemon._id }}/shutdown" [hidden]="!daemon.online"><i class="fa fa-power-off"></i></a>
                    <a href="/daemons/{{ daemon._id }}/edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a href="/daemons/{{ daemon._id }}/delete"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
