html, body {
	width: 100%;
}

.nav-sidebar {
    outline: none;
    z-index: 100;
	position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: #34495e;
}

.nav-sidebar > li > a:hover {
    outline: none;
    background-color: #2c3e50;
}

.nav-sidebar > li > a:focus {
    outline: none;
    background-color: #2c3e50;
}

.nav-sidebar > li > a:visited {
    outline: none;
    background-color: #2c3e50;
}

.nav-sidebar > li > a[aria-expanded=true] {
    background-color: #2c3e50 !important;
}

.nav-sidebar > li > a[aria-expanded=false] {
    background-color: #34495e !important;
}

.nav-sidebar > li > .dropdown-menu
{
    background-color: #34495e;
}

.nav-sidebar > li > .dropdown-menu > li > a {
    border-color: #2F4255;
    color: #eeeeee;
}

.nav-sidebar > li > .dropdown-menu > .divider {
    background-color: #2F4255;
}

.nav-sidebar > li > .dropdown-menu > li > a:hover {
    background-color: #2F4255;
    color: #eeeeee;
}

.fa-side {
    font-size: 16pt;
}

.fa-side > a > i {
    color: #eeeeee;
}

.fa-side > a > .fa-cloud {
    color: #3498db;
}

.side-divider {
    border-bottom: 1px solid #2F4255;
}

.view {
    position: absolute;
    top: 10px;
	width: calc(100% - 100px);
	left: 50px;
    padding-left: 50px;
    padding-top: 50px;
}

.rightMenu {
    position:relative;
    top: -51px;
    left: 51px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #34495e;
    color: #eeeeee;
    z-index: 1000;
}

.loader-box {
    position: fixed;
    height: 100%;
    top: 40%;
}

.loader > .box {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 32%;
    height: 10%;
    text-align: center;
    color: #FFFFFF;
    font-size: 26pt;
}

.loader > .box > .spinner {
    color: #FFFFFF;
    display: block;
    position: absolute;
    left: calc(50% - 40px);
    height: 80px;
    width: 80px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 1px white, 0 2px 0 2px white, inset 2px 0 0 2px white;
    perspective: 800px;
    perspective-origin: 50% 50%;
    margin-top: 10px;
    transform: translate3d(0%, 20%, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: orbit 1.2s infinite linear;
}

@keyframes orbit {
    0% {
        transform: translate3d(0%, 20%, 0) rotateX(0deg) rotateY(0deg) rotateZ(720deg);
    }
    100% {
        transform: translate3d(0%, 20%, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

.loaderText {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 50px);
}