<div ng-if="loggedIn">
    <div class="ctrl-header">
        <div class="title">
            {{'daemon_delete' | translate}}
        </div>
        <div class="description">
            <b>ID:</b> {{ daemonId }}
        </div>
    </div>
    <a href="/daemons" class="button transparent">{{'back' | translate}}</a>
    <br/>
    <br/>
    <div class="container-fluid">
        <h2>{{ 'are-you-sure' | translate }}</h2>
        <hr/><br/>
        <p><i>{{ 'are-you-sure-delete-daemon' | translate }}</i></p><br/>
        <a href="/daemons" class="button-default">{{'dont-delete' | translate}}</a>
        <a ng-click="delete(daemonId);" class="button-danger">{{'delete' | translate}}</a>
    </div>
</div>