<div ng-if="loggedIn">
    <div class="ctrl-header">
        <div class="title">
            {{'daemon_edit' | translate}}
        </div>
        <div class="description">
            <b>ID:</b> {{ daemonId }}
        </div>
    </div>
    <a href="/daemons" class="button transparent">{{'back' | translate}}</a>
    <br/>

    <form novalidate class="form-fluid">
        <input type="text" ng-model="name" id="name" class="text" placeholder="{{'name' | translate}}" /><br/>
        <input type="text" ng-model="ip" id="ip" class="text" ng-keypress="checkForIp();" placeholder="IP" /><br/>
        <input type="number" ng-model="minport" class="port" id="min_port" placeholder="Min-Port" />
        <input type="number" ng-model="maxport" class="port" id="max_port" placeholder="Max-Port" /><br/>
        <input type="submit" ng-click="edit_daemon()" class="submit" value="{{'daemon_edit' | translate}}">
    </form>
</div>