<div [hidden]="!setupRequired">
    <div class="container-fluid tiny">
        <h2>MCS <sup>&alpha;</sup> - {{ 'setup' | translate }}</h2>
        <form novalidate class="form-fluid" (submit)="setup()">
            <input type="text" [(ngModel)]="username" id="admin-name" placeholder="{{ 'setup-admin-name' | translate }}" /><br/>
            <input type="password" [(ngModel)]="password" id="password" placeholder="{{ 'setup-admin-password' | translate }}" />
            <br/><br/>
            <input type="submit" value="{{ 'setup-confirm' | translate }}" />
        </form>
    </div>
</div>
