<div ng-if="loggedIn">
    <div class="ctrl-header">
        <div class="title">
            {{'daemon_add' | translate}}
        </div>
    </div>
    <a href="/daemons" class="button transparent">{{'back' | translate}}</a>
    <br/>

    <form novalidate class="form-fluid">
        <input type="text" ng-model="name" id="name" class="text" placeholder="{{'name' | translate}}" /><br/>
        <input type="text" ng-model="ip" id="ip" class="text" placeholder="IP" /><br/>
        <input type="number" ng-model="min_port" class="port" id="min_port" placeholder="Min-Port" />
        <input type="number" ng-model="max_port" class="port" id="max_port" placeholder="Max-Port" /><br/>
        <input type="submit" ng-click="add_daemon()" class="submit" value="{{'daemon_create' | translate}}">
    </form>

</div>