<div ng-hide="loggedIn" style="vertical-align: middle;">
    <div class="login-container">
        <h2>MCS <sup>&alpha;</sup> - {{ 'login' | translate }}</h2>
        <form novalidate class="mcs-login">
            <input type="text" ng-model="name" id="name" placeholder="{{ 'login-name' | translate }}" /><br/>
            <input type="password" ng-model="password" id="password" placeholder="{{ 'login-password' | translate }}" /><br/><br/>
            <input type="submit" class="mcs-confirm" ng-click="login()" value="{{ 'login-confirm' | translate }}" />
        </form>
    </div>
</div>
<div ng-show="loggedIn">
    Du bist bereits angemeldet!
</div>