<div ng-if="loggedIn === false" ng-controller="loginctrl">
    <div class="container-fluid tiny">
        <h2>MCS <sup class="version-control">&alpha;</sup> - {{ 'login' | translate }}</h2>
        <div class="error-message-box" ng-show="errorMessages != null">
            <i class="fa fa-times-circle"></i> &nbsp; <span class="message" ng-repeat="error in errorMessages">{{ error }}</span>
        </div>
        <div class="warn-message-box" ng-show="warnMessages != null">
            <i class="fa fa-warning"></i> &nbsp; <span class="message" ng-repeat="warning in warnMessages">{{ warning }}</span>
        </div>
        <div class="information-message-box" ng-show="informationMessages != null">
            <i class="fa fa-info-circle"></i> &nbsp; <span class="message" ng-repeat="information in informationMessages">{{ information }}</span>
        </div>
        <form novalidate class="form-fluid" ng-submit="login()">
            <input type="text" ng-model="username" id="name" placeholder="{{ 'login-name' | translate }}" /><br/>
            <input type="password" ng-model="password" id="password" placeholder="{{ 'login-password' | translate }}" /><br/><br/>
            <label for="stay"><input type="checkbox" ng-model="stay" id="stay" /> {{ 'stay-logged-in'| translate }}</label>
            <br/><br/>
            <input type="submit" value="{{ 'login-confirm' | translate }}" />
        </form>
    </div>
</div>