<div ng-show="setup" style="vertical-align: middle;">
    <div class="setup-container">
        <h2>MCS <sup>&alpha;</sup> - {{ 'setup' | translate }}</h2>
        <div class="message">
            {{ message_setup_success }}
        </div>
        <form novalidate class="mcs-login">
            <input type="text" ng-model="username" id="admin-name" placeholder="{{ 'setup-admin-name' | translate }}" /><br/>
            <input type="password" ng-model="password" id="password" placeholder="{{ 'setup-admin-password' | translate }}" />
            <br/><br/>
            <input type="submit" class="mcs-confirm" ng-click="setup()" value="{{ 'setup-confirm' | translate }}" />
        </form>
    </div>
</div>

<div ng-hide="setup">
    <div class="setup-container">
        <h2>MCS <sup>&alpha;</sup> - {{ 'setup' | translate }}</h2>
        Das Setup wurde bereits durchgeführt! Zur <a href="/login">Anmeldung</a>!
    </div>
</div>